importFrom("nnet", "which.is.max")
importFrom("multicool", "multinom")
import(memoise)
importFrom("stats", "fisher.test", "pnorm", "pt", "qnorm", "quantile", "var")
importFrom("utils", "combn")
importFrom("survival", "coxph", "Surv")
import(doParallel)
import(foreach)
import(parallel)
import(MASS)
export(SIDES)
S3method(print, SIDES)
export(simulation_SIDES)
S3method(print, simulation_SIDES)
